/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Checkbox Styles */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1.5px solid lightgray;
  border-radius: 1px;
  background-color: transparent;
  @apply cursor-pointer size-5 px-2;
}

input[type="checkbox"]:checked {
  border: 1.5px solid #ea4b8b;
  background-color: #ea4b8b;
}
label{
    @apply pl-2 font-extrabold tracking-tight text-[0.9rem] mt-4;
}

/* Other Styles */
.sacramento {
  font-family: "Sacramento";
  @apply text-[2rem] tracking-wide font-semibold ;
}

.roboto {
  font-family: "Roboto";
  @apply text-[1.5rem];
}

input:not([type="checkbox"]):not([type="file"]):not(.customInput) {
  @apply bg-gray-200 h-8 rounded-md px-4 m-1 outline-none text-[0.8rem] font-sans font-semibold;
}


span {
  @apply cursor-pointer;
}


@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.heartbeat {
  animation: heartbeat 3s infinite;
}
.linearGradient{
  background:linear-gradient(180deg,#00dbde,#fc00ff);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}
