@tailwind base;
@tailwind components;
@tailwind utilities;

.customInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline:none;
  border: 1.5px solid lightgray;
  border-radius: 1px;
  background-color: transparent;
  @apply cursor-pointer relative size-6 px-2;
}

.customInput:checked {
  border: 1.5px solid #ea4b8b;
  background-color: #ea4b8b;
}


.customInput::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 0.5em;
  height: 0.9em;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.customInput:checked::after {
  opacity: 1;
}



.customInputRound {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1.5px solid lightgray;
  border-radius: 50%;
  background-color: transparent;
  width: 1.6em;
  height: 1.6em;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
}

.customInputRound:checked {
  border: 1.7px solid #ea4b8b;
  background-color: #ea4b8b;
}

.customInputRound::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 0.5em;
  height: 0.9em;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.customInputRound:checked::after {
  opacity: 1;
}

label {
  @apply pl-2 font-extrabold tracking-tighter text-[1.1rem] mt-8;
}

/* Other Styles */
.sacramento {
  font-family: "Sacramento";
  @apply text-[2.5rem] tracking-wide font-semibold;
}

.roboto {
  font-family: "Roboto";
  @apply text-[1.8rem] font-extrabold;
}

input:not([type="checkbox"]):not([type="file"]):not(.customInputLocation) {
  @apply bg-gray-100 h-10 rounded-md px-4 m-1 outline-none text-[1rem] font-sans font-semibold;
}

span {
  @apply cursor-pointer;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.heartbeat {
  animation: heartbeat 3s infinite;
}
.linearGradient {
  background: linear-gradient(180deg, #00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  scroll-behavior: smooth;
  overflow-x:hidden;

}
::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @apply bg-pink-300;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
